<!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Web Systems Development</h1>
            <p>The main goal of this exercise is to develop a web application with Ruby on Rails in which we are
going to implement a web system for managing a library.
</p>

<div class="row" >
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt; color=#FFFFFF;">
         
         
         <p style="text-color=#FFFFFF;"> <a href="https://campusvirtual.uclm.es/course/view.php?id=8184" class="btn btn-primary btn-large">Check it on Moodle</a> </p>
        <a href="https://github.com/webdevelopment5/Library-RoR" class="btn btn-social-icon btn-lg btn-github" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-lg']);"><i class="fa fa-github"></i></a>
           
        </div>
      
      </div>
  
            
        </header>

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Developers</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAMXAAAAJDY2NWRjNGNhLTYzZmEtNDcwMi05Y2MyLWQ4NWQyOTc5MzZmMg.jpg" alt="">
                    <div class="caption">
                        <h3>Abel Lorente Ramírez</h3>
                        <p>Developer</p>
                        <p>
                            <a href="https://es.linkedin.com/pub/abel-lorente/80/58/936" class="btn btn-primary">Web page</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/005/08d/2e5/1734816.jpg" alt="">
                    <div class="caption">
                        <h3>José Gómez Checa</h3>
                        <p>Developer</p>
                        <p>
                            <a href="https://es.linkedin.com/pub/josé-gómez-checa/80/968/335" class="btn btn-primary">Web page</a>
                        </p>
                    </div>
                </div>
            </div>

            <!--<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="http://placehold.it/800x500" alt="">
                    <div class="caption">
                        <h3>Feature Label</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <p>
                            <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
                        </p>
                    </div>
                </div>
            </div>-->

        </div>
        <!-- /.row -->

        <hr>
      

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>