<div class="container-full" style="background-image:url('http://www.impact.ie/wp-content/uploads/2014/11/library.jpg'); background-size:cover;background-repeat: no-repeat;
    background-position: 50% 50%;-webkit-background-origin:border;" >

      <div class="row-fluid">
       
        <div class="col-lg-12 text-center v-center">
          
          <h1>Awesome Library App</h1>
          <p class="lead">Manage your books</p>
          
          <br><br><br>
         
        </div>
        
      </div> <!-- /row -->
  
  	  <div class="row">
       
        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
         
          <a href="https://github.com/webdevelopment5/Library-RoR" class="btn btn-github"><i class="fa fa-github"></i></a>
 
        </div>
      
      </div>
  
  	<br><br><br><br><br>

</div> <!-- /container full -->

<div class="container-fluid">
  
  	<hr>
  
  	<div class="row-fluid">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Books</h3></div>
            <div class="panel-body">Look for any book you wish and take it. Hundreds of books are waiting for you.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Wish list</h3></div>
            <div class="panel-body">Add your pending books to a wish list and check it whenever you want. Manage your wish list.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Loans</h3></div>
            <div class="panel-body">Manage loans everywhere. Just renew your books in the loans menu.
            </div>
          </div>
        </div>
    </div>
  
	<div class="row">
        <div class="col-lg-12">
        <br><br>
          
        <br><br>
        </div>
    </div>
</div>
